<div class="container">
    <div class="row related-products">
        <h2> RELATED PRODUCTS</h2>
        <div class="col-md-3 col-sm-6">
         
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../../images/thumb1.png">
                    </a>
                    <!-- <span class="product-discount-label">-20%</span> -->
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">SHOE ONEX</a>
                    </h3>
                    <div class="price">$499.99
                    
                    </div>
                </div>
                <ul class="social">
                    <li><button type="button" class="btn btn-danger shop-button cart-btn">Add to Cart</button></li>
                
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../../images/thumb2.png">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">SHOE TWOX</a>
                    </h3>
                    <div class="price">$499.99</div>
                </div>
                <ul class="social">
                    <li><button type="button" class="btn btn-danger shop-button cart-btn">Add to Cart</button></li>
                </ul>
            </div>
        </div><div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../../images/thumb3.png">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">SHOE THREEX</a>
                    </h3>
                    <div class="price">$499.99</div>
                </div>
                <ul class="social">
                    <li><button type="button" class="btn btn-danger shop-button cart-btn">Add to Cart</button></li>
                </ul>
            </div>
        </div><div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="../../images/thumb4.png">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">SHOE FOURX</a>
                    </h3>
                    <div class="price">$499.99</div>
                </div>
                <ul class="social">
                    <li><button type="button" class="btn btn-danger shop-button cart-btn">Add to Cart</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
