<div class="container footer text-left bg-dark">
  
  
    <div class="row footer-rowtop">
      
      <div class="col-md-2 footer-links">
        <h4>COMPANY</h4>
        <a href="#">ABOUT US</a>
        <br />
        <a href="#">OUR TEAM</a>
        <br />
        <a href="#">TEAMS</a>
        <br />
        <a href="#">PRIVACY</a>
        <br />
      </div>
      
      <div class="col-md-2 footer-links">
        <h4>COMPANY</h4>
        <a href="#">HISTORY</a>
        <br />
        <a href="#">CONTACT US</a>
        <br />
        <a href="#">LEGAL</a>
        <br />
        <a href="#">FAQ</a>
        <br />
      </div>
      
      <div class="col-md-2 footer-links">
        <h4>ACCOUNT</h4>
        <a href="#">DASHBOARD</a>
        <br />
        <a href="#">MY ORDERS</a>
        <br />
        <a href="#">EDIT PROFILE</a>
        <br />
        <a href="#">CHANGE PASSWORD</a>
        <br />
      </div>
      
      <div class="col-md-2 footer-links">
        <h4>TOOLS</h4>
        <a href="#">SALES FLYER</a>
        <br />
        <a href="#">CREATE CATALOG</a>
        <br />
        <a href="#">CREATE FLYER</a>
        <br />
        <a href="#">VIRTUAL SAMPLE</a>
        <br />
      </div>
      
      <div class="col-md-4 footer-links">
        
       
      <div class="forrm col-sm-12">
        <h4>NEWSLETTER</h4>
        <div class="form-group">
        
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
          <button type="button" class="btn btn-danger btn-block cart-btn">SUBSCRIBE</button>
        </div>

      </div>
     
      </div>`
    </div>
      
     
    <div class="row footer-rowbottom bg-dark">
      
      <div class="col-sm-12 text-center">
        <br />© Company Name Inc. 2019 | <a href="#">Privacy Policy</a>
      </div>
 
    </div>
      
      
    </div>
